@if (hasFantasyGames()) {
  <div class="track-viewport" [class.has-overflow]="shouldScroll()" #viewport>
    <div
      class="track"
      [class.scrolling]="shouldScroll()"
      [style.animation-duration]="shouldScroll() ? trackDuration() : null"
    >
      @for (fantasyGame of displayFantasyGames(); track $index) {
        <div class="poster" (click)="openFantasyGame(fantasyGame)">
          @if (posterUrl(fantasyGame); as url) {
            <img [src]="url" [alt]="fantasyGame.name" class="poster-image" />
          } @else {
            <div class="poster-placeholder">{{ fantasyGame.name.charAt(0) }}</div>
          }
          <div class="poster-scrim"></div>
          <span class="poster-name">{{ fantasyGame.name }}</span>
        </div>
      }
    </div>
  </div>
} @else {
  <p class="empty-state">{{ emptyMessage }}</p>
}
