<mat-toolbar color="primary">
  <span>Generic Fantasy Platform</span>
  <span class="spacer"></span>
  @if (currentUser(); as user) {
    <span class="username">Welcome, {{ user.username }}</span>
  }
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<div class="create-fantasy-game-row">
  <button mat-flat-button color="primary" (click)="openCreateFantasyGameDialog()">
    <mat-icon>add</mat-icon>
    Create Your Fantasy Game
  </button>
</div>

<app-popular-fantasy-games />
<app-my-fantasy-games />

<div class="content">
  <p>You are logged in.</p>
  <div class="nav-links">
    <a mat-flat-button routerLink="/fantasy-games">Manage Fantasy Games</a>
    <a mat-flat-button routerLink="/leagues">Manage Leagues</a>
  </div>
</div>
