.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 24px;
}

table {
  width: 100%;
}

td.mat-column-actions {
  button:first-child {
    margin-left: -8px;
  }
}

.empty-state {
  margin-top: 16px;
  color: rgba(255, 255, 255, 0.7);
}
